.body
{
    font-family     : 'Open Sans', sans-serif;
}


.full-container
{
    padding: 2%;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,62,233,0.9612219887955182) 0%, rgba(0,212,255,1) 100%);   
}

.TicTacToe
{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    padding: 5px;
    border-radius: 25px;  
    margin-left: auto;
    margin-right: auto;

}

.column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square
{
    display: block;
    width: 145px;
    height: 145px;
    border-radius: 25px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,233,64,0.9612219887955182) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 50;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
}

.square:hover
{
    -webkit-box-shadow: 0px 0px 67px 12px rgba(113,0,158,1);
    -moz-box-shadow: 0px 0px 67px 12px rgba(113,0,158,1);
    box-shadow: 0px 0px 67px 12px rgba(113,0,158,1)
}


.text-container-1
{
    width: 50%;
    height: 10%;
    text-align: center;
    background: rgb(252,70,107);
    background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    color: white;
    border-radius: 25px;
    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 900;
}

.winner-box
{
    width: 40%;
    height: 10%;
    border-radius: 25px;
    color: white;
    font-weight: 900;
    font-size: 40;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,21,0.9612219887955182) 0%, rgba(0,212,255,1) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.45%;
    margin-top: 1%;

}

.restart-button
{
    width: 20%;
    height: 5%;
    color: white;
    font-weight: 900;
    font-size: 28px;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,0.9612219887955182) 0%, rgba(216,55,221,1) 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    border-radius: 25px;
}



.restart-button:hover
{
    -webkit-box-shadow: 0px 0px 38px 17px rgba(240,17,240,1);
    -moz-box-shadow: 0px 0px 38px 17px rgba(240,17,240,1);
    box-shadow: 0px 0px 38px 17px rgba(240,17,240,1);   
}


.nav-box
{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.nav-button-left, .nav-button-right
{
    display: block;
    width: 14%;
    height: 1%;
    background: rgb(0,245,255);
    background: linear-gradient(40deg, rgba(0,245,255,1) 44%, rgba(184,0,255,1) 100%);
    color:white;
    border-radius: 15px;
    font-weight: 900;
    font-size: 20;
    padding: 1%;
    border: none;
    text-align: center;

}

.nav-button-left
{
    text-align: center;
}

.nav-button-right
{
    text-align: center;
}

.nav-button-left:hover, .nav-button-right:hover
{
    background: rgb(0,245,255);
    background: linear-gradient(40deg, rgba(0,245,255,1) 0%, rgba(184,0,255,1) 50%);
}